@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./fonts/Gilroy-Bold.ttf');
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./fonts/Gilroy-Medium.ttf');
}
@font-face {
  font-family: 'Gilroy-Semibold';
  src: url('./fonts/Gilroy-Semibold.ttf');
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  scroll-behavior: smooth;
  background: #FFFFFF;

  ;
}

img {
  display: block;
  max-width: 100%;
}
h1 {
  color: black;

  font-family: 'Gilroy-Bold';

}
a {
  color: black;
  font-family: 'Gilroy-Semibold';
 
}

p{
  color: #888888;
  font-family: 'Gilroy-Medium';
}


.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
  margin-bottom: 114px;

}
.navigation {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content:center;
  align-items:center;

}
.nav_log {
  justify-content:first baseline;

}
.navigation_text {
  width: 533px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-left: auto;





}
.navigation a {
  font-size: 14px;

}
.main {
  margin-bottom: 197px;
  

}
.home{
color: red;
font-family: 'Gilroy-Semibold';}


.mainContent{
  display: flex;
  justify-content:space-between;}

  .mainContent img{
  }

.mainContent_leftSide{
  width: 522px;
  display: flex;
  flex-wrap: wrap;
}

.mainContent_leftSide h1{

  font-size: 60px;
  margin-bottom: 10px;
  }

  .mainContent_leftSide p{

    font-size: 20px;
    width:466px;
    margin-bottom: 30px;
    }
    .mainContent_leftSide-btnList{
      display: flex;
  
      width:302px;height: 50px;
      justify-content: space-between;
    }
  
.start {
  background-color: #F25822;
  color: #FFFFFF;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  font-family: 'Gilroy-Bold';
}
  .watch_video{
    color: #AAAAAA;
    background: none;

    font-size: 15px;
    cursor: pointer;
    border: none;
    font-family: 'Gilroy-Bold';

  }

  .footer {
    margin-bottom: 243px;}
    .logos {
      display: flex;
      justify-content: space-between;
    }
